<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Reserva</title>
    <link rel="stylesheet" href="/css/liststyle.css">
</head>
<body>
    <div class="main-content">
        <h1>Editar Reserva</h1>
        <form th:object="${reserva}" method="post">
            <label for="localRetirada">Local de Retirada:</label>
            <input type="text" id="localRetirada" th:field="*{localRetirada}"><br><br>
            <label for="dataRetirada">Data de Retirada:</label>
            <input type="date" id="dataRetirada" th:field="*{dataRetirada}"><br><br>
            <label for="dataDevolu">Data de Devolução:</label>
            <input type="date" id="dataDevolu" th:field="*{dataDevolu}"><br><br>
            <input type="submit" value="Salvar Alterações">
        </form>
    </div>
</body>
</html>
