<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
    <link rel="stylesheet" href="/css/liststyle.css">
</head>
<body>
    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Modelo do Carro</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Local de Retirada</th>
                    <th>Data de Retirada</th>
                    <th>Data de Devolução</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}">
                    <td th:text="${reserva.idReserva}"></td>
                    <td th:text="${reserva.cliente.nome}"></td>
                    <td th:text="${reserva.carro.modelo}"></td>
                    <td th:text="${reserva.cliente.telefone}"></td>
                    <td th:text="${reserva.cliente.email}"></td>
                    <td th:text="${reserva.localRetirada}"></td>
                    <td th:text="${#dates.format(reserva.dataRetirada, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#dates.format(reserva.dataDevolu, 'dd/MM/yyyy')}"></td>
                    <td>
                        <a th:href="@{/editarReserva/{idReserva}(idReserva=${reserva.idReserva})}">
                            <i class="fas fa-pencil-alt"></i> Editar
                        </a>
                        <a th:href="@{/deletarReserva/{idReserva}(idReserva=${reserva.idReserva})}">
                            <i class="fas fa-times"></i> Excluir
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
