<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Carros</title>
    <link rel="stylesheet" href="/css/restyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="voltar">
        <a href="/"><i class="fas fa-arrow-left fa-3x"></i></a>
    </div>

    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <h1>Reserva de Carros</h1>
                <div class="form-container">
                    <form action="/reservarCarro" method="post" class="login login-left">
                        <div class="login__field">
                            <label for="cliente">Cliente:</label>
                            <select id="cliente" name="cliente" class="login__input" required>
                                <option value="" disabled selected>Selecione um cliente</option>
                                <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nome}"></option>
                            </select>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-car"></i>
                            <input type="text" id="modeloCarro" name="modeloCarro" class="login__input" placeholder="Modelo do Carro" required>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fa fa-home"></i>
                            <input type="text" id="localRetirada" name="localRetirada" class="login__input" placeholder="Local de Retirada" required>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-calendar-alt"></i>
                            <input type="date" id="dataRetirada" name="dataRetirada" class="login__input" placeholder="Data de Retirada" required>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-calendar-alt"></i>
                            <input type="date" id="dataDevolu" name="dataDevolu" class="login__input" placeholder="Data de Devolução" required>
                        </div>
                        <button class="button login__submit">
                            <span class="button__text">Reservar Agora</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>      
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>      
        </div>
    </div>
</body>
</html>
